<section class="custom">
	<h2 class="section-title">{{title}}</h2>
	{{#each this.items}}
		<div class="item">
			<header>
				<h3>{{title}}</h3>
			</header>
			{{#each this.pieces}}
				<div class="piece {{this.type}}">

					{{#if text}}
						<p>{{text}}</p>
					{{/if}}

					{{#if textblock}}
						<p>{{textblock}}</p>
					{{/if}}

					{{#if url}}
						<a href="{{url}}">{{title}}</a>
					{{/if}}

					{{#if image}}
						<img src="{{image}}">
					{{/if}}

				</div>
			{{/each}}
		</div>
	{{/each}}
</section>