<!DOCTYPE html>
<html>
<head>
	<title>Resume | {{user.name}}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{basePath}}/css/global.css">
	<link rel="stylesheet" href="{{basePath}}/css/print.css" media="print">
</head>
<body>

<div class="site-wrap">
	<header class="site-header">
		<hgroup>
			<h1>{{user.name}}</h1>
			<h2>{{user.email}}</h2>
		</hgroup>

		{{#if user.picture}}
			<div class="picture">
				<img src="{{user.picture.url}}">
			</div>
		{{/if}}
	</header>

	{{#each resume.sections}}
		{{#if this.blueprint}}
			{{includeBlueprint this}}
		{{else}}
			{{>custom}}
		{{/if}}
	{{/each}}

</div>
</body>
</html>
