section.skills
	display flex
	flex-direction row
	flex-wrap wrap

	header
		flex 0 0 100%

	.item
		flex 1 1 33.3333%
		display flex
		flex-direction column
		align-items flex-start
		padding .5rem
		border-bottom 1px solid #CCC

		.grade
			font-size .8em
			text-transform uppercase
			font-weight bold
			color #555