@import url('https://fonts.googleapis.com/css?family=Exo:400,700')

@require 'partials/_educations'
@require 'partials/_experiences'
@require 'partials/_skills'
@require 'partials/_custom'

*
	margin 0
	padding 0
	box-sizing border-box

body
	background #fff
	/* font 15px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif */
	color #222

h1,h2,h3,h4,h5,h6
	font-family 'Exo', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

.site-wrap
	width 800px
	margin 0 auto

.site-header
	display flex
	flex-direction row
	align-items center
	justify-content space-between
	padding 2rem 0 1rem 0
	hgroup
		display flex
		flex-direction column
	h1
		margin 0
		font-size 3rem
	h2
		font-weight normal
		color #444
	.picture
		img
			max-height 200px
			border 1px solid #444
			border-radius 3px

.site-wrap > section
	margin 0 0 2rem 0

.section-title
	border-bottom 1px solid #CCC
	margin 0 0 1rem 0
	font-size 1.5rem
	text-align center